{% extends 'shared/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <main>
        <article>

            <div class="container-fluid mt-5">

                <div class="d-flex justify-content-center">
                    <div class="card p-2">
                        <div class="card-body" style="width:450px">
                            <h2 class="text-center" style="font-size: 1.5em">Sign in</h2>
                            <form method="post">
                                <div class="my-3">
                                    <label class="form-label" for="inputEmail">Email</label>
                                    <input id="inputEmail" class="form-control" type="email" name="email"
                                           value="{{ last_username }}" autocomplete="email" required autofocus/>
                                </div>
                                <div class="my-3">
                                    <label class="form-label" for="inputPassword">Password</label>
                                    <input id="inputPassword" class="form-control" type="password" name="password"
                                           autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="checkbox my-5">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Keep me signed in
                                    </label>
                                </div>
                                <button class="btn btn-success mb-4" type="submit" style="width: 100%">Sign in
                                </button>
                            </form>
                            <a href="{{ path('app_register') }}" class="btn btn-outline-light"
                               style="width: 100%">Create an account</a>

                            <a href="{{ path('app_home') }}" class="d-flex justify-content-center mt-5"><i
                                        class="bi bi-arrow-return-left"></i></a>

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="my-3 text-center">
                                    You are logged in as {{ app.user.userIdentifier }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>

{% endblock %}
